.boton-clear {
  height: 60px;
  width: 80%;
  font-size: 1.4em;
  display: flex;
  background-color: #ac0246;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
}

.boton-clear:hover {
  background-color: #FF9551;
}