.boton-contenedor {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #408E91;
  color: whitesmoke;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  user-select: none;
}
.operador {
  background-color: #C3DBD9;
}
.boton-contenedor:hover {
  background-color: #1746A2;
}
.operador:hover {
  background-color: #FF9551;
}
@media all and (min-width:640px) {
  .boton-contenedor {
    width: 80px;
    height: 80px;
  }
}