.App {
  height: 100vh;
  background-color: #20262E;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.contenedor-calculadora {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  gap: 8px;
  width: 70vw;
  min-width: 300px;
  max-width: 600px;
  height: 75vh;
  padding: 14px;
  background-color: #002B5B;
  border-radius: 24px;
  border: 1px solid white;
  box-shadow: 2px 2px 8px black;
}
.fila {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}
.repo-container {
  display: flex;
  align-items: center;
  color: aliceblue;
  gap: 12px;
}
.repo-container a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: smaller;
  color: azure;
}